<span class="btn fightcircle" [attr.disabled]="!isReady()? true : null" (click)="startfight()">
  <img class="fight"
    src="https://image.jimcdn.com/app/cms/image/transf/dimension=910x10000:format=png/path/sb4fc3d1c06611668/image/i348132ad24fd12a2/version/1522008888/image.png"/>
</span>
<br>
<div class="container-fluid ">
  <div class="row">
      <div class="col-xs-6">
          <app-select-fighter [titleI]="'Choose your first fighter'" (selectPKMFunc)="selectedPKM($event,0)"></app-select-fighter>
        </div>
        <div class="col-xs-6">
          <app-select-fighter [titleI]="'Choose your second fighter'"  (selectPKMFunc)="selectedPKM($event,1)"></app-select-fighter>
        </div>
  </div>
</div>
