{{ today | date : 'MMM d, y, h:mm:ss' }}
<div class = "screenFight">
  <img  src="../../assets/background.png" class="pokepixel" width="400" height="400">
  <img  src="../../assets/sprites/{{pokemons[0]._id}}MS.png" [ngClass]="{'dead' : pokemons[0].KO(),'pauseCss' : pause}"
  class="pokepixel pokemon first" width="150" height="150" (click)="pokemons[0]._hp=0">
  <img  src="../../assets/sprites/{{pokemons[1]._id}}MS.png" [ngClass]="{'dead' : pokemons[1].KO(),'pauseCss' : pause}"
  class="pokepixel pokemon second" width="150" height="150" (click)="pokemons[1]._hp=0;">
  <img  src="../../assets/explosion.gif" [ngClass]="{'explosion first' : pokemons[0].KO()}" width="150" height="150">
  <img  src="../../assets/explosion.gif" [ngClass]="{'explosion second' : pokemons[1].KO()}" width="150" height="150">
</div>
<button type="button" class="btn screenFight" (click)="pause=!pause" [ngClass]="{'btn-primary' : pause,'btn-secondary' : !pause}">{{!pause?"Pause":"Play"}}</button>
<p *ngFor="let log of this.battleByStepService.logger.get();">{{log}}</p>
