<div class = "screenFight">
  <img  src="../../assets/background.png" class="pokepixel" width="400" height="400">
  <img  src="../../assets/sprites/{{pokemonOne._id}}MS.png" [ngClass]="{'dead' : pokemonOne.KO(),'pauseCss' : pause}"
  class="pokepixel pokemon first" width="150" height="150" (click)="pokemonOne._hp=0">
  <img  src="../../assets/sprites/{{pokemonTwo._id}}MS.png" [ngClass]="{'dead' : pokemonTwo.KO(),'pauseCss' : pause}"
  class="pokepixel pokemon second" width="150" height="150" (click)="pokemonTwo._hp=0;">
  <img  src="../../assets/explosion.gif" [ngClass]="{'explosion first' : pokemonOne.KO()}" width="150" height="150">
  <img  src="../../assets/explosion.gif" [ngClass]="{'explosion second' : pokemonTwo.KO()}" width="150" height="150">
</div>
<button type="button" class="btn screenFight" (click)="pause=!pause" [ngClass]="{'btn-primary' : pause,'btn-secondary' : !pause}">{{!pause?"Pause":"Play"}}</button>
<!-- <table>
  <tr>
      <app-battle-logger  *ngFor="let eventAttack of attackEvent" app-table-logger [attaqueEvent]="attackEvent"></app-battle-logger>
  </tr>
</table>
<app-battle-logger [attaqueEvent]=()></app-battle-logger> -->
