<header>
  <h1>SuperSmashPokemon</h1>
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<meta charset="UTF-8"/>
</header>

<body>
 <!-- <h1> Bienvenue sur SuperSmashPokemon! ESGI </h1> -->
  <app-battle *ngIf="!selectedFighterAllow" [selectedFighter]="selectedFighter" (endFight)="endFight($event)"></app-battle>
  <app-select-screen *ngIf="selectedFighterAllow" [rest]="selectedFighterAllow" (selectedFighter)="selectedFighterFnc($event)"></app-select-screen>
</body>
