/* You can add global styles to this file, and also import other style files */
.selectpkm{
    border: solid;
}
.selectpkm img{
    min-height: 50px;
    min-width:50px;
    max-height: 100px;
    max-width:100px;
}
.nopadding{
    padding: 0px !important;
}
.select-fihgter{
	height: 500px;
	overflow-y: scroll;
    scrollbar-color: black #1e1e1e;
    scrollbar-width: thin;
}
.fight {
    height: 100px;
    width:200px;
    vertical-align: middle;
    margin-left: -50px;
}

.fightcircle {
    border-radius: 100% !important;
    height: 100px;
    width:100px;
    margin: auto;
    background-color: red !important;
    display: block !important;
}
.notEffective{
    color:#878787;
}
.effective{
    text-decoration: overline underline;
    font-weight: bold
}
.container-fluid {
    max-width: 1400px;
    margin: auto;
}
.pokepixel{
    image-rendering: crisp-edges;
}
.pokemon,.screenHover,.screenHover img,.explosion{
    position: relative;
}
.screenFight{
    margin: auto;
    width: 400px;
    display: block !important;
    max-height: 298px;
    overflow: hidden;
    color: white;
}
p.screenFight{
    margin-top: 10px;
}
.pokemon.first{
    left: 26px;
    top: -212px;
    animation: bouncefirst 0.35s ease infinite alternate;
}
.pokemon{
    cursor: crosshair;
}
.pokemon.second{
    left: 71px;
    top: -301px;
    animation: bouncesecond 0.35s ease infinite alternate;
}
.dead{
    transition: none !important;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}
.explosion{
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.9s, opacity 0.9s linear;
}
.explosion.first{
    left: 31px;
    top: -365px;
}
.explosion.second{
    left: 76px;
    top: -442px;
}
@keyframes bouncefirst{
    from   {transform: translateY(-20px) scaleX(-1);}
    to {transform: translateY(0) scaleX(-1);}
}

@keyframes bouncesecond{
    from {transform: translateY(0);}
    to   {transform: translateY(-20px);}
}
.pauseCss{
    animation-play-state: paused !important;
}
.acier{text-shadow: 0 0 0.2em #B8B8D0 , 0 0 0.2em #B8B8D0;}
.combat{text-shadow: 0 0 0.2em #C03028 , 0 0 0.2em #C03028;}
.dragon{text-shadow: 0 0 0.2em #7038F8 , 0 0 0.2em #7038F8;}
.eau{text-shadow: 0 0 0.2em #6890F0 , 0 0 0.2em #6890F0;}
.electrik{text-shadow: 0 0 0.2em #F8D030 , 0 0 0.2em #F8D030;}
.fee{text-shadow: 0 0 0.2em #EE99AC , 0 0 0.2em #EE99AC;}
.feu{text-shadow: 0 0 0.2em #F08030 , 0 0 0.2em #F08030;}
.glace{text-shadow: 0 0 0.2em #98D8D8 , 0 0 0.2em #98D8D8;}
.insecte{text-shadow: 0 0 0.2em #A8B820 , 0 0 0.2em #A8B820;}
.normal{text-shadow: 0 0 0.2em #A8A878 , 0 0 0.2em #A8A878;}
.plante{text-shadow: 0 0 0.2em #78C850 , 0 0 0.2em #78C850;}
.poison{text-shadow: 0 0 0.2em #A040A0 , 0 0 0.2em #A040A0;}
.psy{text-shadow: 0 0 0.2em #F85888 , 0 0 0.2em #F85888;}
.roche{text-shadow: 0 0 0.2em #B8A038 , 0 0 0.2em #B8A038;}
.sol{text-shadow: 0 0 0.2em #E0C068 , 0 0 0.2em #E0C068;}
.spectre{text-shadow: 0 0 0.2em #705898 , 0 0 0.2em #705898;}
.tenebres{text-shadow: 0 0 0.2em #705848 , 0 0 0.2em #705848;}
.vol{text-shadow: 0 0 0.2em #A890F0 , 0 0 0.2em #A890F0;}
.resumHp{
    display: block;
    float: right;
}
body{
    background-image: url("https://www.pokemon-sunmoon.com/static/niji_www/img/global/backgrounds/xs_pattern_popbg.png");
}
.select-fihgter .btn{
    border: none !important;
    border-radius: 0px!important;
}
.btn-dimgray{
    background-color: dimgray;
}
.btn-dimgray:hover{
    background-color: slategrey;
}